[project]
name = "borgdash"
version = "0.1.0"
description = "Borg backup monitor"
authors = ["Vivien Chene <viv@vivc.org>"]
channels = ["conda-forge"]
platforms = ["osx-arm64", 'linux-64']

[tasks]
reporter = { cmd = "pixi run withconfig", cwd = "reporter" }
dashboard = { cmd = "pixi run dev", cwd = "dashboard" }
# build { depends-on = ["reporter-build", "dashboard-build"] }
# docker-multi = { cmd = "docker build --platform linux/amd64,linux/arm64 -t vche/borgdash:latest .", cwd = "." }
# docker-push = { cmd = "docker push -t vche/borgdash:latest .", cwd = "." }
# docker-build = { cmd = "docker build -t vche/borgdash:latest .", cwd = "." }

[dependencies]
